.token-income {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 32rem;
  width: 87%;
  background-color: #0e1111;
  border-radius: 25px;
  padding: 1.5rem;
  text-align: left;
  border-style: solid;
  border-color: #0e1111;
  border-width: 5px;
  margin: 0.5rem;
}

.token-income-heading {
  font-size: 1.25rem;
  color: #c471ed
}

.token-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #0e1111;
}

.token-income-wrapper {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  width: 100%;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: #333333;
}

.token-day-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 33%;
  text-align: left;
  justify-content: left;
}

.token-amount-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 33%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.token-value-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 33%;
  text-align: right;
  justify-content: right;
}

.token-logo {
  height: auto;
  width: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5rem;
}

.token-name-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  text-align: left;
  align-items: center;
  justify-content: left;
  justify-items: left;
}

.token-income-txt {
  color: #dddddd;
  font-size: 1rem;
}

.token-income-subheading {
  color: darkgray;
  font-size: 1rem;
}

@media screen and (max-width: 820px) {
  .token-income {
    width: 85%;
    padding: 1rem;
  }
}
