.defi {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 32rem;
  width: 87%;
  background-color: #0e1111;
  border-radius: 25px;
  padding: 1.5rem;
  text-align: left;
  border-style: solid;
  border-color: #0e1111;
  border-width: 5px;
  margin: 0.5rem;
}

.defi-heading {
  font-size: 1.25rem;
  background: -webkit-linear-gradient(left, #9945ff, #14f195);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.defi-heading-wrapper {
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 25%;
  justify-content: left;
  align-items: center;
  text-align: left;
  margin: auto;
}

.defi-logo {
  height: auto;
  width: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5rem;
}

.defi-hex {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.defi-subheading {
  color: #14f195;
  font-size: 1rem;
}

.liquidity-pools {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
}

.dex-headings-wrapper {
  display: flex;
  flex-direction: row;
  height: 3rem;
  width: 100%;
  justify-content: space-between;
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: #333333;
}

.defi-stat-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 18.75%;
  justify-content: right;
  text-align: right;
  align-items: right;
}

.farms-heading-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 33%;
  justify-content: left;
  align-items: left;
  text-align: left;
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: #333333;
}

.farms-stat-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 33%;
  justify-content: right;
  align-items: right;
  text-align: right;
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: #333333;
}

.dex-heading-txt {
  font-size: 1rem;
  color: #ffffff;
}

.dex-txt {
  font-size: 0.9rem;
  color: #ffffff;
}

@media screen and (max-width: 820px) {
  .defi {
    width: 85%;
    padding: 1rem;
  }

  .defi-subheading {
    font-size: 0.75rem;
  }

  .dex-txt {
    font-size: 0.75rem;
  }
}
