.time-period {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 160px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #181a18;
    border-radius: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .time-period-txt {
    color: #353839;
    font-size: 15px;
    cursor: pointer;
  }
  
  .time-period-selected {
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 820px) {
    .time-period {
      width: 50%;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }