.floor {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 35rem;
  width: 100%;
  background-color: #0e1111;
  border-radius: 25px;
  padding: 1.5rem;
  text-align: left;
  border-style: solid;
  border-color: #0e1111;
  border-width: 5px;
  margin: 0.5rem;
}

.floor-heading-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  align-items: left;
  justify-content: left;
}

.floor-chart-headers {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: #333333;
}

.floor-chart-project-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 20%;
  justify-content: center;
  align-items: left;
  text-align: left;
}

.floor-chart-stat-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.floor-headers-txt {
  font-size: 1rem;
  color: #14f195;
}

.floor-heading {
  font-size: 1.25rem;
  background: -webkit-linear-gradient(left, #9945ff, #14f195);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.floor-logo {
  height: auto;
  width: 25px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5rem;
}

@media screen and (max-width: 820px) {
  .floor {
    width: 85%;
    padding: 1rem;
  }

  .floor-headers-txt {
    font-size: 0.75rem;
  }
}
