.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #000000;
  z-index: 100;
}

.nav-content {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.puffalytics-logo {
  height: auto;
  width: 275px;
  z-index: 100;
}

.nav-list {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-list-item {
  color: #ffffff;
  text-decoration: none;
  list-style: none;
  padding-right: 1rem;
  font-size: 1.5rem;
  margin: auto;
  cursor: pointer;
}

.nav-btn {
  height: 35px;
  width: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: none;
  border-radius: 25px;
  background: linear-gradient(#c471ed, #12c2e9);
  color: #ffffff;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
}

.bars-icon {
  color: #ffffff;
  margin-right: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  .bars-icon {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .nav {
    height: 2rem;
  }

  .nav-list {
    display: none;
  }

  .puffalytics-logo {
    width: 150px;
  }
}
