.project-header {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom-style: solid;
    border-bottom-color: #353839;
    border-bottom-width: 2px;

}

.project-header-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: auto;
}

.project-heading-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    text-align: justify;
    align-items: center;
}

.project-description-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
    margin: auto;
    text-align: center;
}

.puff-score-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links-analyst-container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 300px;
    margin: auto;
    justify-content: space-between;
}

.analyst-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-left: 1rem;
}

.project-links-container {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 150px;
    justify-content: center;
}

.project-header-heading {
    font-size: 1.5rem;
    color: #ffffff;
    margin: auto;
}

.project-header-txt {
    font-size: 1rem;
    color: darkgray;
}

.puff-score-label {
    font-size: 1rem;
    color: #14f195;
}

.anchor-tag {
    margin: auto;
}

.fa-twitter {
    color: #1DA1F2;
    margin: auto;
}

.fa-discord {
    color: #7289DA;
    margin: auto;
}

.fa-globe {
    color: darkgray;
    margin: auto;
}

/* iPhones */

@media screen and (max-width: 414px) { 
.project-description-container {
    width: 345px;
}
}
