.insights {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.insights-row {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
}


/* mobile phones  */

@media screen and (max-width: 414px) { 
.insights-row {
        flex-direction: column;
        padding: 0;
    }
}
